<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SpringApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>movie</servlet-name>
    <servlet-class>
           org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/ha</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/returnMain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/returnAdminHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/showReservations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/logOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/addMovie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/deleteMovie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/updateMovie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/addMovieMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/deleteMovieMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/updateMovieMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/addUserMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/deleteUserMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/addUserADM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/deleteUserADM</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/logInMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/signUpp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/logIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/addReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/makeReservation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/addShowMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/deleteShowMVC</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/addShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>movie</servlet-name>
    <url-pattern>/deleteShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>web.IndexServlet</servlet-class>
  </servlet>
</web-app>